/*------------------Importing Fonts--------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/*------------------Basic Styles-----------------------------------*/
body {
    overflow-x: hidden;
}

.content {
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 60px;
    /* Height of the footer */
    box-sizing: border-box;
    /* Including padding in height */
}

/*----------------------General Styles---------------------*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section.section {
    display: flex;
    padding: 50px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: 0px 50px 50px 50px;
    /*box-shadow: 2px 2px 30px #aaaaaa;*/
}

.strong {
    font-weight: 800;
    color: #ffffff;
}

/*--------------------Typography Styles---------------------*/

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #333333;
}

h1 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
    font-family: cursive;
}

p {
    font-size: 14px;
}

/*-----------------------Header Styles-----------------------*/
.header {
    position: relative;
    text-align: left;
    background: linear-gradient(60deg, rgb(26, 172, 65) 10%, rgb(61, 64, 215) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header.unique {
    background: none;
}

/*---------------Navbar Styles-------------------------*/
.navbar li {
    cursor: pointer;
}

.navbar li:hover {
    background-color: #f2f2f2;
}

.nav-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

/* ------------------Landing Page Styles------------------- */
.landing-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

button#college-link {
    color: #ffffff;
    background-color: transparent;
    padding: 2px 5px;
    margin: 0;
    border-radius: 15px;
    border: 1px solid #ffff00a8;
}

/*--------------------Typewriter Animation----------------------*/
p.typewriter {
    border-right: solid 3px rgba(0, 255, 0, .75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.775);
    animation: animated-text 4s steps(70, end) 1s 1 normal both,
        animated-cursor 600ms steps(70, end) infinite;
    position: relative;
    max-width: 1000px;
    width: 100%;
    min-height: 56px;
    max-height: 580px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0, 255, 0, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/*-----------------Image Styles-----------------*/
#profile-picture {
    height: 300px;
    width: 300px;
}

img {
    max-width: 100%;
    height: auto;
}

.bold {
    font-weight: 800;
    font-size: 4vh;
    color: #35ff35;
}

/*------------------------Waves Styles---------------*/
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

html#html-projects .waves-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*--------------------Hamburger Navigation Styles------------------*/
.hamburger-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5%;
    background-color: rgb(0 0 0 / 31%);
}

.hamburger-nav .logo {
    order: 1;
}

.hamburger-nav .menu-btn {
    display: none;
}

.hamburger-nav .menu-icon {
    order: 3;
    cursor: pointer;
    z-index: 2;
}

.hamburger-nav .menu-icon .navicon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s;
}

.hamburger-nav .menu-icon .navicon::before,
.hamburger-nav .menu-icon .navicon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
}

.hamburger-nav .menu-icon .navicon::before {
    top: -10px;
}

.hamburger-nav .menu-icon .navicon::after {
    bottom: -10px;
}

.hamburger-nav .menu-btn:checked+.menu-icon .navicon {
    background-color: transparent;
}

.hamburger-nav .menu-btn:checked+.menu-icon .navicon::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger-nav .menu-btn:checked+.menu-icon .navicon::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.hamburger-nav .menu-btn:checked~.menu-icon {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 1001;
}

.hamburger-nav .menu {
    order: 2;
    display: none;
    align-items: center;
    list-style-type: none;
    width: 70%;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.hamburger-nav .menu-btn:checked~.menu {
    transform: translateX(0);
    display: flex;
    overflow: hidden;
}

.hamburger-nav .menu li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-align: center;
}

.hamburger-nav .menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hamburger-nav .menu li a:active {
    background-color: #0083ff40;
}

/*----------------------Project Cards----------------------------*/
#projects {
    max-width: 75%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

#projects h1 {
    text-align: center;
    margin-bottom: 25px;
}

.animated-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    width: 90%;
}

.animated-item {
    padding: 0px 0px 30px 0px;
    display: flex;
    border-radius: 10px;
    min-width: 200px;
    flex-direction: column;
    transition: all 1200ms;
    align-items: center;
    max-width: 45%;
    height: auto;
    box-shadow: 2px 2px 30px #aaaaaa;
    max-height: 400px;
    margin: 0 15px;
    overflow: hidden;
}

.animated-item p {
    padding: 5px;
    font-size: 1.5vh;
}

.animated-item:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 99;
}

.project-img {
    max-height: 85%;
    overflow: hidden;
}

.project-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}

.project-img h2 {
    text-align: center;
    border: 1px solid black;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

h2.card-content {
    font-weight: bold;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: rgba(28, 85, 207, 0.844);
    color: #fff;
    width: 100%;
    padding: 8px;
    margin: 0;
    font-size: 1.5vh;

}

.default-button {
    padding: 5px 10px;
    border-radius: 15px;
}

.default-button.sharp {
    border-radius: 5px;
}

#see-more {
    display: block;
    margin-bottom: 20px;
}




/*--------------------------Button Animations-------------------------*/
.default-button {
    border-radius: 5px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.default-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.default-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.default-button:hover span {
    padding-right: 25px;
}

.default-button:hover span:after {
    opacity: 1;
    right: 0;
}


/*-----------------------About Me----------------------------*/
div#about-me-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid black;
    margin: 2% 0;
}

div#about-me-content p {
    font-family: cursive;
    text-align: center;
    font-size: 2.5vh;
    padding: 5% 2%;
    text-shadow: 1px -1px 13px rgba(0, 0, 0, 0.37);
}

/*-------------------Skills--------------------*/

.skills-container {
    width: 70%;
    margin: 20px auto;
}

.skills-container h1 {
    text-align: center;
    margin-bottom: 35px;
}

@keyframes load {
    from {
        width: 0%
    }
}

@-webkit-keyframes load {
    from {
        width: 0%
    }
}

@-moz-keyframes load {
    from {
        width: 0%
    }
}

@-o-keyframes load {
    from {
        width: 0%
    }
}

.bar {
    background-color: #EEE;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 30px #aaaaaa;
}

.bar::before {
    content: attr(data-skill);
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
    background-color: #399f41;
}


.bar.java::before {
    width: calc(70% - 10px);
    /*background-color: #f14a29cf;*/
}

.bar.mongo::before {
    width: calc(60% - 10px);
    /*background-color: #2862e9;*/
}

.bar.react::before {
    width: calc(85% - 10px);
    /*background-color: #5ed3f3;*/
}

.bar.css::before {
    width: calc(90% - 10px);
    /*background-color: #388700;*/
}

.bar.html::before {
    width: calc(100% - 10px);
    /* background-color: #e71316;*/
}



/*-----------------------Footer------------------------*/
footer {
    height: 100%;
    display: flex;
    margin-top: -60px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px;
    background: linear-gradient(60deg, rgba(26, 172, 65, 1) 10%, rgba(61, 64, 215, 1) 100%);
}

footer h2 {
    font-size: 3vh;
    margin-bottom: 20px;
}

footer * {
    color: #fff;
}

footer h2+p {
    font-size: 1rem;
    margin-bottom: 20px;
}

footer hr {
    background-color: rgba(0, 0, 0, 0.1);
}

section#contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

section#contact form textarea {
    height: 100px;
    padding: 5px;
    resize: vertical;
    border-radius: 15px;
}

section#contact form input,
section#contact form textarea {
    color: rgb(0, 0, 0);
}

section#contact form input {
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

#lower-footer {
    display: flex;
    justify-content: center;
}

.social-contact,
social-icons {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#upper-footer-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

#upper-footer-wrapper img {
    width: auto;
    height: 20vh;
    border-radius: 50%;
    margin: 20px;
}

#upper-footer-wrapper--left {
    width: 33.3%;
    display: flex;
    flex-direction: column;
}

#upper-footer-wrapper--left p {
    display: block;
    width: 70%;
    font-size: 18px;
}

#upper-footer-wrapper--right {
    width: 33.3%;
    display: flex;
    flex-direction: column;
}

section#contact {
    display: flex;
    justify-content: end;
}

#upper-footer-wrapper--right,
#upper-footer-wrapper--left {
    margin: 20px;
}

ul.social-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

ul.social-icons li {
    list-style: none;
    padding: 15px;
    margin: 0 5px;
    border-radius: 50%;
}

ul.social-icons li i {
    font-size: 35px;
    color: #ffffff;
}

p.copyright-text {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

.fab.fa-facebook:hover {
    color: #3b5998;
}

.fab.fa-twitter:hover {
    color: #00aced;
}

.fab.fa-instagram:hover {
    color: #517fa4;
}

.fab.fa-linkedin:hover {
    color: #007bb6;
}

.fab.fa-dribbble:hover {
    color: #ea4c89;
}


/*-------------------Contact page---------------------------*/

form.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70vw;
    margin-top: 65px;
    flex-wrap: wrap;
}

#contact-page p.typewriter {
    text-align: center;
    padding: 0;
    max-height: 100px;
    min-height: 100px;
}

#contact-page main {
    margin: 20px 0 90px 0;
}

.contact-wrapper .contact-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 45%;
}

.contact-wrapper .contact-form,
.contact-wrapper .contact-details {
    margin: 0 40px 40px 40px;
}

.contact-wrapper .contact-details {
    flex-grow: 1;
}

.contact-wrapper .contact-form>* {
    display: block;
    width: auto;
    min-width: 90%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 15px;
}

section.contact-section p {
    text-align: center;
    width: 90%;
    font-size: 2.5vh;
}

section.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    margin: 10px 0;
}

.contact-details h3 {
    font-weight: 600;
}

.contact-details ul li{
    margin: 5px 0 ;
}

/*-------------------------------------------------------------------*/
/*                          Responsive Design                        */
/*-------------------------------------------------------------------*/

/* Tablet styles */
@media (max-width: 768px) {

    .contact-wrapper {
        margin-top: 35px;
    }

    section.section {
        width: 85%;
        padding: 0;
    }

    .skills-container {
        width: 100%;
    }

    p.copyright-text {
        padding-bottom: 10px;
        display: block;
    }

    #upper-footer-wrapper--left p {
        display: block;
        width: 100%;
    }

    #upper-footer-wrapper img {
        display: none;
    }

    .waves {
        height: 40px;
        min-height: 40px;
    }

    h1 {
        font-size: 24px;
    }

    p.typewriter {
        display: none;
        padding-bottom: 9vh;
    }

    .hamburger-nav {
        justify-content: space-between;
    }

    .hamburger-nav .menu ul {
        flex-direction: column;
    }

    .hamburger-nav .menu {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        border-radius: 0 0 15px 15px;
    }

    nav.hamburger-nav ul.menu li {
        width: 100%;
        border-left: solid;
        border-right: solid;
        border-width: thin;
    }

    .hamburger-nav .menu li {
        margin: 5px 0;
        width: 100%;
    }

    .hamburger-nav .menu li a {
        font-size: 20px;
        padding: 15px;
    }

    .animated-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .animated-item {
        max-width: 85%;
        margin-bottom: 8%;
    }

    #projects {
        max-width: 100%;
    }

    .contact-wrapper {
    width: 100vw;
    }
}

/*--------------------------larger screens--------------------------*/
@media (min-width: 769px) {
    .hamburger-nav .menu {
        position: initial;
        transform: translateX(0);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-nav {
        margin-bottom: 2%;
    }

    .hamburger-nav .menu-icon {
        display: none;
    }

    p.typewriter {
        padding-right: 5vh;
    }

    .animated-item {
        margin-bottom: 6vh;
    }
}


/*-------------------------------Carousel------------------------------------*/

#projects-header main {
    display: flex;
}

.header#projects-header {
    background: none;
}

header#projects-header~main {
    display: block;
    width: 55%;
}

.carousel__info-container {
    width: 100%;
    height: 100%;
}

.carousel__button {
    width: 50px;
    height: 30px;
    color: blue;
}

.carousel__index {
    width: 10px;
    height: 10px;
    color: rgb(238, 255, 0);
}

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    z-index: 2000;
    margin: auto;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.3s ease-in;
}

.carousel__slide {
    position: absolute;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__slide:nth-child(1) {
    background-color: rgb(255, 0, 0);
}

.carousel__slide:nth-child(2) {
    background-color: rgb(0, 60, 255);
}

.carousel__slide:nth-child(3) {
    background-color: rgb(9, 255, 0);
}

/*-------------------------Buttons---------------------------------*/
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
}

.carousel__button--left {
    left: -50px;
}

.carousel__button--right {
    right: -50px;
}

/*------------------------------Indicators-----------------------------------------*/
.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.carousel__index {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 12px;
    border: none;
}

.carousel__index.current-slide {
    background-color: rgba(0, 0, 0, 0.75);
}

.is-hidden {
    display: none;
}

/*-----------------------very large screens---------------------------------*/
@media (max-width: 1765px) {

    #contact-page main {
        margin: 20px 0 120px 0;
    }

    #upper-footer-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    #upper-footer-wrapper--right,
    #upper-footer-wrapper--left {
        margin: 0;
    }

    #upper-footer-wrapper h2 {
        text-align: center;
        margin-top: 20px;
    }

    #upper-footer-wrapper img {
        display: none;
    }

    #upper-footer-wrapper--left {
        align-items: center;
        width: 80%;
        text-align: center;
    }

    section#contact form {
        width: 100%;
    }

    #upper-footer-wrapper--right {
        width: 80%;
    }

    footer {
        width: auto;
        padding: 0;
    }

    #projects {
        max-width: 90%;
    }
}

/*-------------------------Tablet styles-------------------------------*/
@media (max-width: 768px) {

    p.copyright-text {
        padding-bottom: 10px;
    }

    #upper-footer-wrapper--left p {
        display: block;
        width: 100%;
    }

    #upper-footer-wrapper img {
        display: none;
    }

    .waves {
        height: 40px;
        min-height: 40px;
    }

    h1 {
        font-size: 24px;
    }

    #contact-page .typewriter {
        display: flex;
        padding-bottom: 9vh;
        justify-content: center;
        align-items: center;
    }

    p.typewriter {
        display: none;
        padding-bottom: 9vh;
    }

    .hamburger-nav {
        justify-content: space-between;
    }

    .hamburger-nav .menu ul {
        flex-direction: column;
    }

    .hamburger-nav .menu {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        border-radius: 0 0 15px 15px;
    }

    nav.hamburger-nav ul.menu li {
        width: 100%;
        border-left: solid;
        border-right: solid;
        border-width: thin;
    }

    .hamburger-nav .menu li {
        margin: 5px 0;
        width: 100%;
    }

    .hamburger-nav .menu li a {
        font-size: 20px;
        padding: 15px;
    }

    .animated-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .animated-item {
        max-width: 85%;
        margin-bottom: 8%;
    }

    #projects {
        max-width: 100%;
    }
}

/*------------------------Larger screens------------------------------------*/
@media (min-width: 769px) {
    .hamburger-nav .menu {
        position: initial;
        transform: translateX(0);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-nav {
        margin-bottom: 2%;
    }

    .hamburger-nav .menu-icon {
        display: none;
    }

    p.typewriter {
        padding-right: 5vh;
    }

    .animated-item {
        margin-bottom: 6vh;
    }
}